<body class="dark-edition">

  <div class="container">
    <div class="row">

      <div style="margin-top: 100px; width: 50%;">
        <p
          style="font-size: 40px; color: white; font-family: 'Acme', sans-serif;"
        >PRODUCT OFFER</p>

        <form action="/admin/submitproductOffer" method="POST" id="valid18">

          <label for=""> Product Name</label>
          <br />
          <select
            class="form-select"
            name="productName"
            aria-label="Default select example"
          >
            <option value="" selected>Select Product</option>
            {{#each product}}
              <option value="{{this.productName}}">{{this.productName}}</option>
            {{/each}}

          </select><br />

          <label for=""> Percentage</label><br />
          <input type="number" name="offer" placeholder="Offer" /><br /><br />

          <label for="">Limit</label><br />
          <input name="offerLimit" min="{{currentDate}}" type="date" />
          <br /><br />

          <input type="submit" value="Submit" class="btn btn-success" />

        </form>
      </div>

      {{#if allreadyUsed}}
        <p
          style="color: rgb(231, 33, 33); font-weight: bolder; font-size: larger;"
        >Product already used</p>
      {{/if}}

      <table
        class="table"
        style="width: 60%; background-color: #250000; border: solid;  1px "
      >
        <thead>
          <tr style="border: #805c5c solid;  1px">
            <th scope="col">No</th>
            <th scope="col">Product Name</th>
            <th scope="col">Offer</th>
            <th scope="col">Offer Starting <br />Date</th>
            <th scope="col">Limit</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{#each findproductOffers}}
            <tr style="border: #805c5c solid;  1px">
              <th scope="row">{{add @index "1"}}</th>
              <td>{{this.productName}}</td>
              <td>{{this.offer}}</td>
              <td>{{this.offerStartingDate}}</td>
              <td>{{this.offerLimit}}</td>
              <td>

                <!-- Button trigger modal -->
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#{{this.productName}}"
                >
                  Delete
                </button>

                <!-- Modal -->
                <div
                  class="modal fade"
                  id="{{this.productName}}"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5
                          class="modal-title"
                          style="font-size: large; font-weight: bolder; color: black;"
                          id="exampleModalLabel"
                        >Are You Sure</h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>

                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >Close</button>
                        <button type="button" class="btn btn-danger">
                          <a
                            href="/admin/DeleteProductOffer/{{this._id}}/{{this.productName}}"
                          >Delete</a>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>

</body>

<script
  src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"
></script>

<script>

  $(document).ready(function(){ $("#valid18").validate({ rules:{ category:{
  required:true, }, productName:{ required:true } , offer:{ required:true,
  minlength:1, maxlength:2 }, offerLimit:{ required:true } }, messages:{
  category:"Select category name", offer:"Enter Percentage Under 100",
  offerLimit:"Enter Date Limit", productName:"Select Product" } }) })

</script>

<style>
  label.error{ color: rgb(170, 33, 33); font-size: large; }
</style>