


<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->

 <div class="row">
	
		{{#if products}}



<div class="card w-85">
  {{#each products}}
  <div class="card-body">
    <div class="col-md-4" style="width: 200px; height: 200px;  float: left;">
      <img style="width: 200px; height: 200px;" src="/product-image/{{this.product._id}}__1.jpg" class="img-sm">
    </div>

    <div class="col-md-4" style="float: left;margin-left: 8px;">
    <h5 class="card-title"><a href="#" class="title text-dark">{{this.product.productName}}</a></h5>
    <p class="card-text">{{this.product.discription}}</p>

		
		<div class="price mt-1">₹ {{this.product.newprice}} 
          
          {{#eq this.product.newprice this.product.MRP}}
          
          {{else}}
          <span style="padding-left: 10px; color: darkgray;">MRP : ₹ <s>{{this.product.MRP}}</s></span> 
          {{/eq}}
        </div> <!-- price-wrap.// -->


    <div class="col" style="float: left;"> 
						<div class="input-group input-spinner">
							
							
							<button  class="btn btn-outline-success" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1,'{{this.product.newprice}}',{{this.product.qty}})" type="button" id="button-plus"> <i class="fa fa-minus"></i> </button>
							
							 <button id="{{this.product._id}}" class="btn btn-outline-success">{{this.quantity}}</button>

						


							
							<button class="btn btn-outline-success" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1,'{{this.product.newprice}}',{{this.product.qty}})" type="button" id="button-minus"> <i class="fa fa-plus"></i> </button>
							
						</div> <!-- input-group.// -->



					</div>


        

    		<div class="price-wrap"> 
			<var class="price">Total : &nbsp; &nbsp;<span id="{{this.product._id}}1">{{this.totalprice}}</span></var> 
			
		</div>


    
    </div>

    <div class="removeDiv col-md-4" style=" margin-left: 20px; margin-top: 20px; display: flex; justify-content: flex-end;  ">


      		<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#{{this.product.productName}}">
  Remove
</button>

<!-- Modal -->
<div class="modal fade" id="{{this.product.productName}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">product removed from cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{!-- <div class="modal-body">
        ...
      </div> --}}
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">cancel</button>
        <button onclick="RemoveFromCart('{{this._id}}','{{this.product._id}}')" class="btn btn-outline-danger" >Remove</button>
      </div>
    </div>
  </div>
</div>



    </div>


  </div>
  {{/each}}
</div>





	 <!-- col.// -->


	 <!-- col.// -->
	<div style="margin-top: 50px;" class="col-md-12 col-lg-12 col-xl-3">

		<div class="card">
		<div class="card-body">
			<dl class="dlist-align">
			  <dt style="font-weight: bolder;">Total price:</dt>
			  <dd style="font-weight: bolder; font-size: larger;" class="text-right">₹.<span id="grand" style="font-weight: bolder; font-size: larger;">{{GrandTotal}}</span></dd>
			</dl>
			
			<hr>
			
			<a href="/placeOrder" class="btn btn-primary btn-block"> Proceed To Checkout </a>
			<a href="/userAllProduct" class="btn btn-light btn-block">Continue Shopping</a>
		</div> <!-- card-body.// -->
		</div> <!-- card.// -->

</div> <!-- col.// -->


</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->
{{else}}

<center>
<div style="">
	<img width="80%" height="auto" src="https://cobblersmagic.com/images/empty-cart.png" alt="">
</div>
</center>
<h2 style="font-weight: bold; text-align: center; color:#544881;">Your Cart is Empty</h2>
<div style="display: flex; justify-content: center;">
<a href="/userAllProduct" style=" width: 200px; margin-top: 30px; margin-bottom: 30px; background-color: #544881; color: white; font-weight: bolder; " class="btn">Continue Shopping</a>
</div>
{{/if}}



</div> <!-- container .//  -->
</section>






























<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>

	function changeQuantity(cartId,proId,count,price,productQuantity){
		
    
		let quantity=parseInt(document.getElementById(proId).innerHTML)
	
		count=parseInt(count)
		
		let productId=proId+'1'

		
      if(quantity == 1 && count == -1){
		  document.getElementById('button-plus').innerHTML='<button  class="btn btn-outline-success" hidden  type="button"  <i  class="fa fa-minus"></i> </button>'
		  
	  }else{
		 
		  if(quantity >= productQuantity  && count == 1){
			  swal("Limit reached",);
		  }else{

		
		$.ajax({
			url:'/change-product-quantity',
			data:{
				cart:cartId,
				product:proId,
				count:count,
				quantity:quantity,
				price:parseInt(price)
			},
			method:'post',
			
			success:(response)=>{
				
				if(response.removeProduct){
					
					location.reload()
				}else{
          
					document.getElementById(proId).innerHTML=quantity+count

					
					document.getElementById(productId).innerHTML=(quantity+count)*price
					
					document.getElementById('grand').innerHTML = response.GrandTotal
					
				}
			}
			
		})

		  }
	  }
	}

</script>


<script>

	function RemoveFromCart(cartId,proId){
			 
		$.ajax({
			url:'/removecart',
			data:{
				cart:cartId,
				product:proId
			},
			method:'post',

			success:(response)=>{

				if(response){
					
					
					location.reload()
				}


			}


		})

	}

</script>
