



<p style="font-size: 40px; margin-top: 50px; font-weight: bolder; text-align: center; font-family: 'Acme', sans-serif;">PRODUCTS</p>



{{!-- <div class="dropdown">
  <button style="background-color:#961010; margin-left: 20%; color: white; font-weight: bolder;" class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Category &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
  </button>
  
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/userAllProduct">All</a></li>
	  {{#each productCategory}}
	  
    <li><a class="dropdown-item" href="/categoryDisplay/{{this.category}}">{{this.category}}</a></li>
	
   {{/each}}
  </ul>
  
</div> --}}





<div class="container" style="margin-top: 100px;">
    <div class="row">
		{{#each categoryItems}}
        <div class=" col-sm-12 col-md-6 col-lg-3">
				
		<div class="card card-product-grid">
			<a href="/product-detail?id={{this._id}}" class="img-wrap"> <img src="/product-image/{{this._id}}__1.jpg"> </a>
			<figcaption class="info-wrap">
				<a style=" font-weight: bolder; font-size: x-large;" href="/product-detail?id={{this._id}}" class="title">{{this.productName}}</a>
                <a href="" style="color: black; font-weight: bolder;" class="title">{{this.category}}</a>
				<a href="" class="title">{{this.discription}}</a>
				
        <div class="price mt-1">₹ {{this.newprice}} 
          
          {{#eq this.newprice this.MRP}}
          
          {{else}}
          <span style="padding-left: 10px; color: darkgray;">MRP : ₹ <s>{{this.MRP}}</s></span> 
          {{/eq}}
        </div> <!-- price-wrap.// -->



                {{#if this.offer}}
        <div><span style="color: rgb(15, 167, 15); font-weight: bolder;">{{this.offer}}%</span> off</div>
        {{else}}
        <div style="opacity: 0%;"><span style="color: rgb(15, 167, 15); opacity: 0%; font-weight: bolder;">{{this.offer}}</span>% off</div>
        {{/if}}


 <button id="{{this._id}}" style="color: red;"  class="btn btn-link " onclick="addtoWishlist('{{this._id}}')" ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
</svg></button>

				
				
			{{#gt this.qty '0'}}
      <p>Stock : <span style="color: green;">In Stock</span> </p>
				<div>
					<a style="margin-top: 10px;" class="btn btn-success" href="/buyNow/{{this._id}}">Buy Now</a>
          {{#hello ../cart this._id this.newprice}}
          {{/hello}}
					{{!-- <button style="margin-top: 10px; " onclick="addToCart('{{this._id}}',{{this.newprice}})" class="btn btn-primary" >Add to Cart <i class="fas fa-shopping-cart"></i></button> --}}
				</div>
        {{else}}
        <p>Stock : <span style="color: red;">Out of Stock</span> </p>
        

        <!-- Button trigger modal -->
<button style="margin-top: 10px;" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
 Buy Now
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Product Out of Stock</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Check Later
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>
        

        <!-- Button trigger modal -->
<button style="margin-top: 10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Add To Cart<i class="fas fa-shopping-cart"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Product Out of Stock</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Check Later
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

        {{/gt}}
				

				
				
			</figcaption>
		</div>
		

	</div>
	{{/each}}

    </div>
</div>


