







<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro ">
<div class="">

{{!-- <div class="intro-banner-wrap">
	<img src="http://cdn.shopify.com/s/files/1/0068/8481/9003/files/travel-bag-slider-3_2000x.jpg?v=1534585027" class="img-fluid rounded">
</div> --}}


<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img style="height: 590px;" src="http://cdn.shopify.com/s/files/1/0068/8481/9003/files/travel-bag-slider-3_2000x.jpg?v=1534585027" class="d-block w-100" alt="...">
    </div>

    {{#each ADSCategory}}
    <div class="carousel-item" data-bs-interval="2000">
      <a href="/categoryDisplay/{{this.category}}"><img style="height: 600px;" src="/ADS_IMAGES/{{this.category}}__1.jpg" class="d-block w-100" alt="..."></a>
    </div>
    {{/each}}
    {{!-- <div class="carousel-item">
      <img style="height: 620px;" src="../images/bag4.jpeg" class="d-block w-100" alt="...">
    </div> --}}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


</div><br><br>



<div class="container">
	<div class="row">

		<div class="divpic col-sm-12 col-md-6 col-lg-3">
			<img style="width: 100%; height: 250px ;" src="http://cdn.shopify.com/s/files/1/0068/8481/9003/files/img-1_1920X.jpg?v=1533894605" alt="">

		</div>
		<div class="divpic col-sm-12 col-md-6 col-lg-3">
				<h2 style="color: white; margin-top: 30%;">BackPack</h2>

		</div>
		<div class="divpic col-sm-12 col-md-6 col-lg-3">
			<img style="width: 100%; height: 250px ;"  src="http://cdn.shopify.com/s/files/1/0068/8481/9003/files/img-2_1920X.jpg?v=1533894620" alt="">

		</div>
		<div class="divpic col-sm-12 col-md-6 col-lg-3">
			<h2 style="color: white; margin-top: 30%;">Sport Style</h2>

		</div>


	</div>


	<div class="row">

		<div class="divpic col-sm-12 col-md-6 col-lg-3">
			<img style="width: 100%; height: 250px ;" src="http://cdn.shopify.com/s/files/1/0068/8481/9003/files/img-3_1920X.jpg?v=1533894631" alt="">

		</div>
		<div class="divpic col-sm-12 col-md-6 col-lg-3">
			<h2 style="color: white; margin-top: 30%;">Travelling Bag</h2>

		</div>
		<div class="divpic col-sm-12 col-md-6 col-lg-3">
			<img style="width: 100%; height: 250px ;" src="http://cdn.shopify.com/s/files/1/0068/8481/9003/files/img-4_1920X.jpg?v=1533894645" alt="">

		</div>
		<div class="divpic col-sm-12 col-md-6 col-lg-3">
			<h2 style="color: white; margin-top: 30%;">Trekking Bag</h2>

		</div>


	</div>


</div>
	









 <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="/userAllProduct" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">New arrival</h3>
</header><!-- sect-heading -->

	
<div class="row">
  {{#each arrival}}
  
	<div class="col-sm-12 col-md-6 col-lg-3">

    

		<div style="height: 500px;" class="card card-product-grid">

			<a href="/product-detail?id={{this._id}}" class="img-wrap"> <img src="/product-image/{{this._id}}__1.jpg"> </a>
			<figcaption class="info-wrap">
				<a style=" font-weight: bolder; font-size: x-large; " href="/product-detail?id={{this._id}}" class="title">{{this.productName}}</a>
        <a href="/product-detail?id={{this._id}}" style="color: black; font-weight: bolder;" class="title">{{this.category}}</a>
				<a href="/product-detail?id={{this._id}}" class="title">{{this.discription}}</a>
				
        <div class="price mt-1">₹ {{this.newprice}} 
          
          {{#eq this.newprice this.MRP}}
          
          {{else}}
          <span style="padding-left: 10px; color: darkgray;">MRP : ₹ <s>{{this.MRP}}</s></span> 
          {{/eq}}
        </div> <!-- price-wrap.// -->
        
        {{#if this.offer}}
        <div><span style="color: rgb(15, 167, 15); font-weight: bolder;">{{this.offer}}%</span> off</div>
        {{else}}
        <div style="opacity: 0%;"><span style="color: rgb(15, 167, 15); opacity: 0%; font-weight: bolder;">{{this.offer}}</span>% off</div>
        {{/if}}
  

{{#if ../user}}
 <button id="{{this._id}}" style="color: red;"  class="btn btn-link " onclick="addtoWishlist('{{this._id}}')" ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
</svg></button>
{{else}}

 <a  style="color: red;"  class="btn btn-link " href="/userlogin" ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
</svg></a>

{{/if}}



{{#if ../user}}
    {{#gt this.qty '0'}}
      <p>Stock : <span style="color: green;">In Stock</span> </p>
				<div>
					<a style="margin-top: 10px;" class="btn btn-success" href="/buyNow/{{this._id}}">Buy Now</a>
          {{#hello ../cart this._id this.newprice}}
          {{/hello}}
					{{!-- <button style="margin-top: 10px; " onclick="addToCart('{{this._id}}',{{this.newprice}})" class="btn btn-primary" >Add to Cart <i class="fas fa-shopping-cart"></i></button> --}}
				</div>
        {{else}}
        <p>Stock : <span style="color: red;">Out of Stock</span> </p>
        

        <!-- Button trigger modal -->
<button style="margin-top: 10px;" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
 Buy Now
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Product Out of Stock</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Check Later
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>
        

        <!-- Button trigger modal -->
<button style="margin-top: 10px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Add To Cart<i class="fas fa-shopping-cart"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Product Out of Stock</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Check Later
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

        {{/gt}}
        {{else}}
        <div>
        <a class="btn btn-success" href="/userlogin">Buy Now</a>
        <a class="btn btn-primary" href="/userlogin">Add To Cart<i class="fas fa-shopping-cart"></i></a>
        </div>
        {{/if}}

			</figcaption>
		</div>

	</div> 
  
  {{/each }}
  
 
	
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->






















<!-- Footer -->
<footer style="background-color: #961010;" class=" text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      {{!-- <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div> --}}
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="">ADARSH</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

</body>
</html> 