




<section class="section-name padding-y-sm">
<div class="container">


<p style="font-size: 40px; margin-top: 50px; font-weight: bolder; text-align: center; font-family: 'Acme', sans-serif;">ORDER LIST</p>
	
<div class="row">

{{#if userOrderedProducts}}

  {{#each userOrderedProducts}}
    
    {{#eq this.mode 'cart'}}

    {{#each this.products}}
    
	<div class="col-sm-12 col-md-6 col-lg-3">

    

		<div style="height: 400px;" class="card card-product-grid">

			<a href="/product-detail?id={{this.item}}" class="img-wrap"> <img src="/product-image/{{this.item}}__1.jpg"> </a>
			<figcaption class="info-wrap">
				<a style=" font-weight: bolder; font-size: x-large; " href="/product-detail?id={{this.item}}" class="title">{{this.productName}}</a>
        <a href="/product-detail?id={{this.item}}" style="color: black; font-weight: bolder;" class="title">{{this.category}}</a>
				
				<div  class="price mt-1">₹ {{this.price}} </div> <!-- price-wrap.// -->

                <div style="font-size: larger; font-weight: bolder;" class="price mt-1">Status :&nbsp;{{this.status}} </div>

  
 



			</figcaption>
		</div>

	</div> 
    {{/each}}


    {{else}}

        	<div class="col-sm-12 col-md-6 col-lg-3">

    

		<div style="height: 400px;" class="card card-product-grid">

			<a href="/product-detail?id={{this.proId}}" class="img-wrap"> <img src="/product-image/{{this.proId}}__1.jpg"> </a>
			<figcaption class="info-wrap">
				<a style=" font-weight: bolder; font-size: x-large; " href="/product-detail?id={{this.proId}}" class="title">{{this.productName}}</a>
        <a href="/product-detail?id={{this.proId}}" style="color: black; font-weight: bolder;" class="title">{{this.category}}</a>
				
				<div class="price mt-1">₹ {{this.newprice}} </div> <!-- price-wrap.// -->

                <div style="font-size: larger; font-weight: bolder;" class="price mt-1">Status :&nbsp;{{this.status}} </div>

                


  
 



			</figcaption>
		</div>

	</div>


    {{/eq}}
  
  {{/each }}

  {{else}}

  <center>
<div style="">
	<img width="30%" height="auto" src="https://static4.depositphotos.com/1005091/294/i/950/depositphotos_2942464-stock-photo-shoping-cart-sad.jpg" alt="">
</div>
</center>
<h2 style="font-weight: bold; text-align: center; color:#4a5b92; font-size: 100%;">Your Order Product is Empty</h2>
<div style="display: flex; justify-content: center;">
<a href="/userAllProduct" style=" width: 200px; margin-top: 30px; margin-bottom: 30px; background-color: #4a5b92; color: white; font-weight: bolder; " class="btn">Continue Shopping</a>
</div>




  {{/if}}
  
 
	
</div> <!-- row.// -->

</div><!-- container // -->
</section>