

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div  class="col-md-3 border-left">

            


        


    
                                    
            
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img  class="rounded-circle mt-5" style="box-shadow: black; border: black;" width="150px" src="/user_profile_photo/{{userId}}.jpg"><span class="font-weight-bold">{{userdetail.username}}</span><span class="text-black-50">{{userdetail.email}}</span><span> </span></div>


           


        








        </div>
        <div  class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">My Profile </h4>
                </div>
                <div class="mt-5 text-center">
                    <a class="btn btn-outline-primary" href="/editProfile">Edit</a>

                    <a class="btn btn-outline-primary" href="/addNewAddress">Add New Address</a>
                    <a class="btn btn-outline-primary" href="/userorderedProduct">Your Orders</a>
                    

                    
                
                </div>

                
            
         
                                

                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Name</label><input type="text" class="form-control" readonly value="{{userdetail.username}}"></div>
                    
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number1</label><input type="tel" class="form-control" readonly placeholder="enter phone number" value="{{userdetail.mobile}}"></div>
                    <div class="col-md-12"><label class="labels">Mobile Number2</label><input type="tel" class="form-control" readonly placeholder="enter phone number" value="{{userdetail.mobile1}}"></div>
                    <div class="col-md-12"><label class="labels">House Name </label><input type="text" class="form-control" readonly placeholder="enter address line 1" value="{{userdetail.houseName1}}"></div>
                    <div class="col-md-12"><label class="labels">Place </label><input type="text" class="form-control" readonly placeholder="enter address line 1" value="{{userdetail.place1}}"></div>
                    <div class="col-md-12"><label class="labels">City </label><input type="text" class="form-control" readonly placeholder="enter address line 1" value="{{userdetail.city1}}"></div>
                    
                    
                    <div class="col-md-12"><label class="labels">Pincode</label><input type="number" class="form-control"readonly placeholder="enter pincode" value="{{userdetail.pincode1}}"></div>
                    
                    
                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" readonly placeholder="enter email id" value="{{userdetail.email}}"></div>
                   
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" readonly placeholder="country" value="{{userdetail.country1}}"></div>
                    <div class="col-md-6"><label class="labels">State</label><input type="text" class="form-control" readonly value="{{userdetail.state1}}" placeholder="state"></div>
                </div>
                
            </div>
        </div>

                                 
            </div>


        
    </div>
</div>
</div>
</div>














